@import "../../styles.scss";

nav{
    padding: 0.5rem 2rem;
    background-color: $color1;
    .navbar{
        max-width: 1120px;
        margin: auto;
        justify-content: space-between;
        display: -ms-flexbox;
        display: flex;

        a{
            font-size: 1.4rem;
            margin: 2rem;
            text-decoration: none;
            color: $color3;
        }
    }
}