$color1 : #00b5f1;
$color2 : #93b9e2;
$color3 : #ffffff;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer
}

.wrapper {
  max-width: 1120px;
  margin: auto;
  padding: 0 1rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  color: $color3;
  background-color: $color1;
  border-color: $color1;

  &:hover {
    background-color: $color2;
    border-color: $color2;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: color3;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  margin-top: 1rem;

  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    justify-content: space-between;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    font-size: 1rem;
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}